/* html
{
    margin: 0;
    padding: 0;
} */
#background
{
    width: 100%;
    height: 100%;
    background-color: rgba(189, 123, 247, 0.35);
    position: absolute;
}
#h_bar > div
{
    width: 100%;
    height: 3%;
}
#h_bar > div > a
{
    color: purple;
    display: block;
    text-align: center;
    
}
#h_bar > div > a:hover
{
    color: grey;
    font-style: italic;
    font-weight: bold;
}
#h_bar
{
    width: 25%;
    height: 100%;
    background-color: rgba(245, 249, 250, 0.22);
}
#title_bar
{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: purple;
    /* font-size: 100%; */
}
