body {
    background-color: rgba(0, 146, 146, 0.637);
}

#top_bar {
    margin: 10px 10px 10px 10px;
    /* width: 100%; */
    height: 80px;
    background-color: rgba(190, 255, 255, 0.5);
    overflow: hidden;
}

.round {
    border-radius: 10px;
}

#profile_photo {
    margin: 10px 0px;
    outline: 5px;
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 200px black;
    /* float: left; */
}

/* #photo{
    width: 10%;
    height: 100%;
} */
.block {
    height: 100%;
    float: left;
}

#block1 {
    width: 20px;
}

img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.float {
    float: left;
}

#div_name {
    margin: 20px 10px 0px;
}

#name {
    font-size: 130%;
    font-weight: bold;
    font-style: italic;
    color: rgb(78, 70, 70);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    text-decoration: none;
}

#div_des {
    margin: 13px 10px 5px 10px;
}

#des {
    font-size: xx-small;
    font-weight: bold;
    font-style: oblique;
    color: rgb(78, 70, 70);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#des:hover {
    color: rgba(236, 236, 236, 0.845);
    /* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
}

#name:hover {
    color: rgba(236, 236, 236, 0.845);
    /* text-shadow: rgb(21, 199, 128) 1px 0 10px; */
}

#div-test {
    background-color: black;
    height: 100%;
    /* float: right; */
}

#div_test {
    margin-right: 10px;
    margin-top: 25px;
    float: right;
}

#test_button {
    background-color: rgba(6, 79, 79, 0.337);
    border-radius: 15%;
    box-shadow: 0px 0px 5px black;
    border-style: dashed;
    border-color: black;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

#main {
    margin-left: 10px;
}

.side {
    background-color: rgba(190, 255, 255, 0.5);
    width: 150px;
}

.side2 {
    /* background-color: rgba(190, 255, 255, 0.5); */
    width: 149px;
}

#side_title>p {
    color: rgba(11, 60, 237, 0.845);
    margin: 5px 0px;
    text-align: center;
    font-weight: bold;
}

#side_title {
    display: inline-block;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#side_content {
    background-color: rgba(237, 243, 248, 0.479);
    width: 150px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#side_content>div>a {
    display: block;
    text-align: center;
    /* margin: 20px auto; */
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 80%;
    color: rgba(14, 14, 34, 0.629);
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#side_content>div>a:hover {
    text-shadow: rgba(3, 27, 132, 0.648) 1px 0 10px;
}

#side_content>div {
    border-top: rgba(3, 27, 132, 0.648) 2px solid;
}
#music{
    float: left;
    /* margin: 5px 36px; */
    /* background-color: white; */
}
.music_control{
    background-color: rgba(6, 79, 79, 0.337);
    /* border-radius: 20%; */
    box-shadow: 0px 0px 5px black;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    color: rgba(10, 32, 141, 0.6);
    margin: 5px 14px;
}
#music_name{
    float: left;
    /* padding-top: 10px; */
    margin: 10px 15px 5px;
}
#music_name > p{
    text-shadow: rgb(255, 255, 255) 2px 0 10px;
}