#left_box{
    width:70%;
    height: 100%;
    border-right: 1px solid #000;
    background-color: #bfa;
}
#right_box{
    width:30%;
    height: 100%;
    background-color: bisque;
    overflow: scroll;
}
#container{
    width: 100%;
    height: 1000px;
    background-color: #000;
    display: flex;
}
#mark{
    width:35px
}
