p
{
    color: goldenrod;
}
/* ol > *:first-child
{
    font-style: italic;
    font-size: 23px;
} */
/* ol > li:last-child
{
    font-style: italic;
} */
/* ol > li:nth-child(even)
{
    color: brown;
} */
ol > *
{
    font-style: italic;
}
a:link
{
    color:orange;
    font-style: italic;
}
a:visited
{
    color: grey;
}
a:hover
{
    color:black;
    font-weight:bold;
}
*::selection
{
    background-color: rgb(255, 233, 181);
}