body{
    background: rgba(187, 255, 170, 0.21);
    margin: 0;
    padding: 0;
}
#box{
    width: 410px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#img_box{
    width: 90%;
    height: 466px;
    margin: 0 auto;
    position: relative;
    border: 4px solid rgba(187, 255, 170, 0.818);
    overflow: hidden;
    border-radius: 15px;
}
#img_list{
    position: relative;
    top: -0px;
}
#img_box img{
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 0 2px 0;
}
#controller{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    z-index: 999;
}
#controller input{
    width: 90px;
    height: 30px;
    border-radius: 10px;
}
#qrCode{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 999;
    /* background-color: rgba(0, 0, 0, 0.303); */
    /* overflow: hidden; */
}
#qrCode img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=10);
    border-radius: 10px;
}
#navigator{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#navigator > li > a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 254, 254, 0.826);
    display: block;
    margin: 0 10px;
}
#navigator li a:active{
    background-color: rgb(47, 95, 95);
}