body{
    background: rgba(187, 255, 170, 0.21);
    margin: 0;
    padding: 0;
}
#box{
    width: 405px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#img_box{
    width: 90%;
    height: 568px;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
    background: #c57a7a;
    border: 4px solid rgba(187, 255, 170, 0.818);
}
#controller{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    z-index: 999;
}
#controller input{
    width: 90px;
    height: 30px;
    border-radius: 10px;
}
#qrCode{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 999;
    background-color: black;
}